<mat-toolbar>
  <span class="f-w-8 text-blue">Overview</span>
  <span class="spacer"></span>
  <span class="spacer">
    <span class="search-box">
      <i class="fa fa-search search-icon"></i>
      <input
        type="text"
        class="search-box"
        placeholder="Search anything here.."
      />
    </span>
  </span>
  <span class="center"
    ><mat-icon class="icon" matBadge="1" matBadgeSize="small"
      >notifications_none</mat-icon
    ></span
  >
  <span class="center"
    ><mat-icon class="icon" matBadge="2" matBadgeSize="small">
      mail_outline</mat-icon
    ></span
  >
</mat-toolbar>
