<div class="sidebar">
  <div class="container-new">
    <div class="flex-inner-container">
      <div class="profile-img-container">
        <img
          src="https://media.licdn.com/dms/image/C560BAQEg40mlc6yWvQ/company-logo_200_200/0/1630651746329/iecl_logo?e=2147483647&v=beta&t=ntecU04rqwKpQAd5SX_GQvVzLBajY0lkvbweK7lul_A"
          alt="Profile"
          class="profile"
        />
      </div>
      <span class="user-name text-blue"> If Else Cloud </span>
    </div>
    <span class="icon"><mat-icon>keyboard_arrow_left</mat-icon></span>
  </div>
  <div class="container-new">
    <div class="flex-inner-container">
      <a href="https://www.linkedin.com/in/jaya-parihar/" target="_blank">
        <div class="profile-img-container">
          <img
            src="https://media.licdn.com/dms/image/D4D03AQFONo_ZwunyQA/profile-displayphoto-shrink_100_100/0/1702450835876?e=1708560000&v=beta&t=2SfUMZZzyqbr02YBOm_OnBdHhbX83yzB3nQisb--mVo"
            alt="Profile"
            class="profile"
          />
        </div>
        <span class="user-name text-blue"> Jaya Parihar </span>
      </a>
    </div>

    <div class="icon"><mat-icon>unfold_more</mat-icon></div>
  </div>
  <hr color="#dbd6d6" />
  <div>
    <div class="menu-header">MENU</div>
    <div class="menu-items">
      <span><mat-icon>control_camera</mat-icon></span>
      <span class="list-item-name">Overview</span>
    </div>
    <div class="menu-items">
      <span><mat-icon>list</mat-icon></span>
      <span class="list-item-name">Transactions</span>
    </div>
    <div class="menu-items">
      <span><mat-icon>analytics</mat-icon></span>
      <span class="list-item-name">Analytics</span>
    </div>
    <div class="menu-items">
      <span><mat-icon>credit_card</mat-icon></span>
      <span class="list-item-name">Cards</span>
    </div>

    <hr color="#dbd6d6" />

    <div class="menu-header">GENERAL</div>
    <div class="menu-items">
      <span><mat-icon>settings</mat-icon></span>
      <span class="list-item-name">Settings</span>
    </div>
    <div class="menu-items">
      <span><mat-icon> live_help</mat-icon></span>
      <span class="list-item-name">Help/Support</span>
    </div>
    <div class="menu-items">
      <!-- <span><i class="far fa-moon"></i></span> -->
      <span><mat-icon> format_color_fill</mat-icon></span>
      <span class="list-item-name">Dark Mode</span>
    </div>
  </div>
  <div class="payement-container">
    <span class="payment-inner-container">
      <!-- <span><mat-icon class="payment-icon">add_circle</mat-icon></span> -->
      <!-- <span><i class="far fa-credit-card fa-lg"></i></span> -->
      <span class="text-blue"><i class="fas fa-circle-plus fa-3x"></i></span>
      <span class="text-blue text">New Payment</span>
    </span>
  </div>
</div>
