/* You can add global styles to this file, and also import other style files */
@use "./app/components/shared/colors.scss";
html,
body {
  height: 100%;
  background-color: colors.$light-grey;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif, cursive;
}

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

.text-blue {
  color: colors.$blue;
  font-weight: 400;
}

.text-grey {
  color: colors.$grey;
  font-weight: 400;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0rem grey;
  border-radius: 0.3125rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$blue;
  border-radius: 0.3125rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: colors.$blue;
}
